/* 1. exercice-flex */
.exercice-flex .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 2. exercice-order-1 */
.exercice-order-1 .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exercice-order-1 .container .element-blue {
  order: 1;
}

/* 3. exercice-order-2 */


/* 4. exercice-order-3 */
.exercice-order-3 .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.exercice-order-3 .container .element-red {
  order: 1;
}

.exercice-order-3 .container .element-blue {
  order: 1;
}

/* 5. exercice-align-self-1*/
.exercice-align-self-1 .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.exercice-align-self-1 .container .element-yellow {
  align-self: flex-end;
}

/* 6. exercice-align-self-2*/
.exercice-align-self-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exercice-align-self-2 .container .element-blue {
  align-self: flex-start;
}

.exercice-align-self-2 .container .element-yellow {
  align-self: flex-end;
}

/* 7. exercice-all-in-1 */
.exercice-all-in-1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.exercice-all-in-1 .container .element-blue {
  order: -1;
  align-self: flex-start;
}

/* 8. exercice-all-in-2 */
.exercice-all-in-2 .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.exercice-all-in-2 .container .element-blue {
  order: 2;
}

.exercice-all-in-2 .container .element-pink {
  align-self: flex-start;
}

/* 8. exercice-margin-auto */
.exercice-margin-auto .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
