/* 1. exercice-flex */
.exercice-flex .container {
  display: flex;
}

/* 2. exercice-order-1 */
.exercice-order-1 .container {
  display: flex;
}

.exercice-order-1 .element-blue {
  order: 1;
}

/* 3. exercice-order-2 */
.exercice-order-2 .container {
  display: flex;
  flex-direction: column;
}

.exercice-order-2 .element {
  width: auto;
}

.exercice-order-2 .element-yellow {
  order: -1;
}

/* 4. exercice-order-3 */
.exercice-order-3 .container {
  display: flex;
}

.exercice-order-3 .element-blue {
  order: -1;
}

.exercice-order-3 .element-pink {
  order: 1;
}

.exercice-order-3 .element-yellow {
  order: 2;
}

.exercice-order-3 .element-green {
  order: 3;
}

/* 5. exercice-align-self-1*/
.exercice-align-self-1 .container {
  display: flex;
  flex-direction: row-reverse;
}

.exercice-align-self-1 .element-yellow {
  align-self: flex-end; 
}

/* 6. exercice-align-self-2*/
.exercice-align-self-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercice-align-self-2 .element-blue {
  align-self: flex-start; 
}

.exercice-align-self-2 .element-yellow {
  align-self: flex-end; 
}

/* 7. exercice-all-in-1 */
.exercice-all-in-1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.exercice-all-in-1 .element-blue {
  align-self: flex-start;
  order: -1;
}

/* 8. exercice-all-in-2 */
.exercice-all-in-2 .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.exercice-all-in-2 .element-blue {
  order: 1;
}

.exercice-all-in-2 .element-pink {
  align-self: flex-start;
}

/* 9. exercice-margin-auto */
.exercice-margin-auto .container {
  display: flex;
}

.exercice-margin-auto .element-red {
  margin: auto;
}