.exercice-flex .container {
  display: flex;
  flex-direction: row;
}

.exercice-order-1 .container {
  display: flex;
  flex-direction: row;
}

.exercice-order-1 .element-blue {
  order: 1;
}

.exercice-order-2 .container {
  display: flex;
  flex-direction: column;
}

.exercice-order-2 .element-yellow {
  order: -1;
}

.element-yellow,
.element-red,
.element-blue,
.element-green,
.element-pink,
.element-gray {
  width: 100%;
}



.exercice-order-3 .container {
  display: flex;
  flex-direction: row-reverse;
}
.element-red,
.element-blue {
  order: 1;
}

/* 5. exercice-align-self-1*/


/* 6. exercice-align-self-2*/


/* 7. exercice-all-in-1 */


/* 8. exercice-all-in-2 */


/* 8. exercice-margin-auto */

