.exercice-flex .container {
  display: flex;
  flex-direction: row;
}

.exercice-order-1 .container {
  display: flex;
  flex-direction: row;
}

.exercice-order-1 .element-blue {
  order: 1;
}

.exercice-order-2 .container {
  display: flex;
  flex-direction: column;
}

.exercice-order-2 .element-yellow {
  order: -1;
}

.exercice-order-2 .element-yellow,
.exercice-order-2 .element-red,
.exercice-order-2 .element-blue,
.exercice-order-2 .element-green,
.exercice-order-2 .element-pink,
.exercice-order-2 .element-gray {
  width: 100%;
}

.exercice-order-3 .container {
  display: flex;
  flex-direction: row-reverse;
}

.exercice-order-3 .element-red,
.exercice-order-3 .element-blue {
  order: 1;
}

.exercice-align-self-1 .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content:center;
  align-items: flex-start;
}
 .exercice-align-self-1 .element-yellow {
   align-self: flex-end;
 }

.exercice-align-self-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.exercice-align-self-2 .element-blue {
  align-self: flex-start;
}

.exercice-align-self-2 .element-yellow {
  align-self: flex-end;
}

/* 7. exercice-all-in-1 */


/* 8. exercice-all-in-2 */


/* 8. exercice-margin-auto */

